# ============================
# PostgreSQL container config
# ============================
POSTGRES_DB=employee_pulse_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Spring Boot datasource
# (backend)
# ============================
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/employee_pulse_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# Open AI configuration
EMPLOYEE_PULSE_SERVICE_OPENAI_KEY=your_api_hey_here
